.cart-wrapper{
width: 200px;;

}
.img-wrapper{
   
    width: 200px;
    padding: 1vmax;
}
.img-wrapper img{
    width: 200px;
   
}
.text-wrapper> div{
  
   text-align: center;
   padding: 5px 10px;;
}
.btn-wrapper button{
    background-color: brown;
    border: 1px solid #dcdfdf;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.cart img{
    width: 50px;
    float: right;
    margin-right: 30px;;
}
.cart span{
    width: 50px;
    margin-right: 30px;
}